* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #202125;
}

svg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

path {
	cursor: pointer;
}

.main {
	overflow: hidden;
	position: relative;
}

@media all and (orientation:portrait) {

		/* стили для портрета */
	.main {
	width: 100%;
	}

	.bs-image{
		height: auto;
		width: 100%;
	}
}

@media all and (orientation:landscape) {

		/* стили для пейзажа */
	.main {
		height: 100% ;
	}

	.bs-image {
		height: 100%;
		width: auto;
	}
}

/*path {*/
/*	fill-opacity: .5;*/
/*}*/